{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Discover Ideas<h1>

    {% for submission in submissions %}
    <div class="table-responsive">
        <table class="table table-striped table-hover ">
            <tbody>
                <tr>
                    <td class="col-sm-1" style="vertical-align:middle;">
                        <img class="img-responsive" src="{% static "submission/upvotesmall.png" %}" align="left" alt="Upvotes"/> <h6>{{ submission.upvotes }} </h6>
                        <h4 class="text-success">{{ submission.get_score }}</h4>
                        <img class="img-responsive" src="{% static "submission/downvotesmall.png" %}" align="left" alt="Downvotes"/> <h6>{{ submission.downvotes }}</h6>
                    </td>
                    <td colspan=2> 
                        <h2>
                            <a href="{% url 'submission:submission_detail' pk=submission.pk %}">{{ submission.title }}</a>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        {{submission.category}}
                    </td>
                    <td>
                        <a href="{% url 'accounts:account_detail' slug=submission.author %}">Author: {{submission.author.get_full_name}}</a>
                    </td>
                    <td>
                        {{ submission.published_date }}
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
    </br>
    {% endfor %}
{% endblock %}

