{% extends "base.html" %} {% block content %}

<div class="jumbotron">
    <h1>Hooli XYZ</h1>
    <h2>Members:</h2>
    <h3><small>Connor Beardsmore
         <t style="padding-left: 2em;"> </t>
         <span class="label label-danger">Admin</span>
         <span class="label label-warning">Advanced</span></h3>
    <h3><small>Jordan Chou
         <t style="padding-left: 5.2em;"> </t>
         <span class="label label-danger">Admin</span>
        <span class="label label-info">Expert</span></h3>
    <h3><small>Brendan Lally
         <t style="padding-left: 4.7em;"> </t>
        <span class="label label-danger">Admin</span>
        <span class="label label-success">Intermediate</span></h3>
    <h3><small>Adam Brown
         <t style="padding-left: 5em;"> </t>
        <span class="label label-danger">Admin</span>
        <span class="label label-warning">Advanced</span></h3>
    <h3><small>Edward Lim
         <t style="padding-left: 5.6em;"> </t>
        <span class="label label-danger">Admin</span>
        <span class="label label-primary">Novice</span></h3>
    <br>
</div>

{% endblock %}
