{% extends "base.html" %} {% block content %}

<div class="jumbotron">
    <h1>Hooli XYZ</h1>
    <h2>Members:</h2>
    <h3><small>Connor Beardsmore</h3>
    <h3><small>Jordan Chou</h3>
    <h3><small>Brendan Lally</h3>
    <h3><small>Adam Brown</h3>
    <h3><small>Edward Lim</h3>
    <br>
    <p>HooliXYZ is more than your average assignment group, we're a cult.
    HooliXYZ started as a simple PDM group but quickly grew into the edgiest cult in Perth.
    Also, jet fuel can't melt steel beams.</p>
</div>

{% endblock %}
