<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
		<!-- Navigation Bar -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">HOOLI.XYZ</a>
					</div>

					<!-- 4 links are considered the (current), maybe change colour of span to keep
					the look, and have the active link be an even darker colour-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/submission/">Discover<span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="/submission/submit">Create<span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="/faq">FAQ <span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="/about_us">About Us <span class="sr-only">(current)</span></a></li>
						</ul>

						<!-- Search Button -->
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search submissions"></input>
							</div>
								<button type="submit" class="btn btn-default">Submit</button>
						</form>

						<!-- -->
						{% if user.is_authenticated %}
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'submission:account_submission' slug=user.slug %}">My Submissions</a></li>
							<li><a href="{% url 'accounts:account_detail' slug=user.slug %}">My Account</a></li>
							<li><a href="/accounts/logout">Logout</a></li>
						</ul>
						{% else %}
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/accounts/register">Sign Up</a></li>
							<li><a href="/accounts/login">Login</a></li>
						</ul>
						{% endif %}
					</div> <!-- end of collapse -->
				</div> <!-- End of container-fluid -->
			</nav>

		</div>

		<!-- Currently being used as just a gap between navbar and content-->
		<div class="page-header">
		</div>

	<!-- CONTENT BLOCK -->
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-8">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<footer>
			<div id="footer">
				<!--<div class="well well-sm">-->
				<table class="table table-striped table-hover text-center">
					<thead>
						<th class="text-center"><h4>HooliXYZ</h4></th>
						<th class="text-center"><h4>Submissions</h4></th>
						<th class="text-center"><h4>Me</h4></th>
					</thead>
					<tbody>
						<tr>
							<td><a href="/about_us">About Us <span class="sr-only">(current)</span></a></td>
							<td><a href="/submission">Discover<span class="sr-only">(current)</span></a></td>
							{% if user.is_authenticated %}
							<td><a href="{% url 'submission:account_submission' slug=user.slug %}">My Ideas</a></td>
							{% else %}
							<td><a href="/accounts/register">Sign Up</a></td>
							{% endif %}
						</tr>
						<tr>
							<td><a href="/faq">FAQ <span class="sr-only">(current)</span></a></td>
							<td><a href="/submission/submit">Create<span class="sr-only">(current)</span></a></td>
							{% if user.is_authenticated %}
							<td><a href="{% url 'accounts:account_detail' slug=user.slug %}">View Account</a></td>
							{% else %}
							<td><a href="/accounts/login">Login</a></td>
							{% endif %}
					</tbody>
				</table>
				<!--</div>-->
			</div>
		</footer>
	</div>
</body>
</html>
