{% extends "base.html" %} {% block content %}

<h1>FAQ</h1>
<br>
<br>


<blockquote>
  <p>What is CurtinIdeas?</p>
</blockquote>
CurtinIdeas is a platform that allows for any Curtin University student or staff
member to suggest an idea on how to improve Curtin. The scope of the idea is not
limited in anyway however moderation of ideas does happen and ideas not conforming to
our guidelines would be removed and repeated offenses could result in the user's
account being suspended.
<br><br>

<blockquote>
  <p>Do I have to be a staff member to submit an idea?</p>
</blockquote>
No. Anyone, staff or student, can submit an idea. The point of CurtinIdeas is
to allow anyone to voice an opinion. This allows for a great variety and range of
perspectives and views.
<br><br>

<blockquote>
  <p>How can I show my support for an idea?</p>
</blockquote>
To show that you support an idea you can do many things. The first thing you
could do is upvote the idea. Ideas with more upvotes gain more exposure as
naturally people flock to the most popular ideas. You can also comment on the
idea. If you think you have a way to improve the idea you can also submit an
improvement. Users of the site can then vote on your improvements.
(note that comments and improvements have to conform to our guidelines)
<br><br>

<blockquote>
  <p>How do I submit an idea?</p>
</blockquote>
First you have to create an account. After you have done that click on the
"Create Idea" button. This is where you can let your creative juices flow.
The title of your idea is what users first see when they look at ideas so make
it eye-catching. The text portion of the idea is where you should flesh out
your idea and explain why it should be implemented. If you have images, videos,
or other forms of media (websites, books) that you wish to include with your
submission we have a "Links" portion which allows you to provide a link to your
chosen media to be included with your submission.
<br><br>

<blockquote>
  <p>I have forgotten my password, how can I change it?</p>
</blockquote>
To change your password go to the "Forgot Password" button on the login page.
This will allow you to change your password.
<br><br>

<blockquote>
  <p>How do I level up?</p>
</blockquote>
To level up you need to contribute to the site. This may involve voting or creating ideas.
All kinds of interaction will net you points, every 20 points you will gain a level.
<br><br>

{% endblock %}
