{% extends "base.html" %} {% block content %}


<body>
    <blockquote class="blockquote-reverse">
        <p>"If at first, the idea is not absurd, then there is no hope for it.".</p>
        <small>Albert Einstein<cite title=""></cite></small>
    </blockquote>
</body>

<body>
    <blockquote class="blockquote-reverse">
        <p>"If I have a thousand ideas and only one turns out to be good, I am satisfied.".</p>
        <small>Alfred Noble<cite title=""></cite></small>
    </blockquote>
</body>

<body>
    <blockquote class="blockquote-reverse">
        <p>"No idea is so outlandish that it should not be considered.".</p>
        <small>Winston Churchill<cite title=""></cite></small>
    </blockquote>
</body>

<body>
    <blockquote class="blockquote-reverse">
        <p>"Without dank memes, we are nothing.".</p>
        <small>Pepe McPepe<cite title=""></cite></small>
    </blockquote>
</body>

{% endblock %}
