{% extends "base.html" %} {% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <br>
    <input type="submit" name="Login" value="Login" />
    <input type="hidden" name="next" value="/" />
</form>
<br>

<h5> Haven't got an account? <t style="padding-left: 2em;">
<a href="/accounts/register" class="btn btn-warning">Register</a> </t>
</h5>

<h5>  Forgot password? <t style="padding-left: 4.8em;">
<a href="/accounts/password_change" class="btn btn-warning">Change</a> </t>
</h5>
 {% endblock %}
